.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 12px;
  gap: 35px;
  padding: 40px;
  background: rgb(246, 246, 246);
 
  img {
    width: 100%;
    height: 570px;
    border-radius: 20px;
    object-fit: cover;
  }
  p {
    margin-top: -85px;
    font-size: 1.5em;
    color: white;
    margin-left: 17px;
    text-align: left;
    width: 20%;
  }
  a {
    width: 100%;
    height: 570px;
    
  }
}
