.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    background: rgb(246, 246, 246);
    img{
        width: 100%;
        height: 80%;
    }
}
