.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 96, 96);
    h3{
       
        font-size: 2em;
        color: white;
        text-align: center;
    }
   
}
.annonce{
    p{
        display: none;
        color: rgb(100, 98, 98);
        font-size: 1.5em;
    }
}