.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  
  background: rgb(255, 96, 96);
  padding: 0 18px 0 18px;
  margin-bottom: 20px;
  border-radius: 10px;
 
  h2 {
    font-size: 1.3em;
    color: white;
    text-align: center;
  }
  button {
    color: white;
    font-size: 2em;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: all 0.2s ease-out;
  }
  button:active {
    color: rgb(255, 255, 255);
    font-size: 3em;
    transform: rotate(180deg);
  }
}

.annonce {
  margin-left: 9%;
  margin-bottom: 20px;
  width: 80%;
  p {
    color: rgb(100, 98, 98);
    font-size: 1.2em;
  }
}
.annonceSecurite {
  margin-left: 8%;
  width: 80%;
  p {
    color: rgb(100, 98, 98);
    font-size: 1.2em;
  }
}
.apropos-descrition{
  padding: 0 100px;
}
