.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 96, 96);
    h3{
       
        font-size: 2em;
        color: white;
        text-align: center;
    }
   
}