.errorpage {
padding: 130px  0;
    text-align: center;
    h3 {
        font-size: 12em;
        color: rgb(255, 96, 96);
    }
    p {
        font-size: 2em;
        color: rgb(255, 96, 96);
        padding: 100px 0;
        position: relative;
    }
   
    .retourne {
        color: black;
       ;
    }
}