.footerstyles {
   text-align: center;
   height: 200px;
    background-color: black;
    p{
        color: white;
        font-size: 1.5em;
        margin-left: 40%;
    }
    img{
        padding: 60px 0 20px;
    }
}