.logement {
  margin: 30px 0 50px;
  .logoement-title {
    color: rgb(255, 96, 96);
    font-size: 1.3em;
  }
  .logement-ville {
        font-size: 1.2em;
        color: black;
        margin-left: 0;
        margin-top: 0;
        padding: 10px 0;
        font-weight: bold;
        
  }
}
