.logementDescription {
  display: flex;
  justify-content: space-between;
}
.logemen {
  margin: 35px 0 0;
  padding: 0;

  .apropos-descrition{
    padding: 0 ;
  }
  

}

.chevron {
  .description {
    width: 850px;
    margin-left: 0;
    
  }
  .chevron-cadre{
    width: 89.5%;
    padding: 0 15px 25px 15px;
    background-color:  rgba(226, 224, 222, 0.219);
    margin-top: -21px;
p{
  padding: 18px;
  color: black;
  position: static;
  text-align: left;
}
  }
  .chevron-cadred{
    width: 96.5%;
    padding: 0 15px 25px 15px;
    background-color: rgba(226, 224, 222, 0.219);
    margin-top: -21px;
    ul{
      padding: 18px;
    }
  }
}
