.logementDescription {
  display: flex;
  justify-content: space-between;
}
.logemen {
  margin: 70px 0 0;
  padding: 0;
}

.chevron {
  .description {
    width: 400px;
    margin-left: 0;
    
  }
}
