@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.7em;
    margin-left: 5px;
    text-align: left;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 20px;
    img {
      height: 300px;
    }
    a {
      height: 300px;
    }
    p {
      width: 70%;
      font-size: 1.2em;
      margin-top: -70px;
    }
  }
  .navigation {
    ul {
      gap: 15px;
      li {
        font-size: 1.06em;
      }
    }
    * {
      padding: 0;
      margin: 0;
    }
    img {
      width: 40%;
    }

    .logoement-title {
      font-size: 1.7em;
    }
  }
  .nom {
    .nom-conteneur {
      height: 62px;
      margin-top: 0;

      .host-cercle {
        width: 45px;
        height: 45px;
        padding: 0;
      }
      h2 {
        font-size: 0.9em;
      }
      p {
        width: 22%;
      }
    }
  }

  .host {
    display: flex;
    justify-content: left;
    margin-top: -56px;
    gap: 2px;

    span {
      padding: 0;
    }
  }
  .tag_groupe {
    margin: 50px 0;
  }
  .tag {
    width: 28%;
    padding: 0;
    font-size: 0.7em;
    height: 23px;

    span {
      font-size: 0.75em;
    }
  }

  .logementDescription {
    flex-direction: column;
    gap: 10px;
    .description-contenair {
      height: 35px;
      width: 100%;
      .chevron {
        padding: 0;
        p {
          font-size: 0.75em;
        }
      }
    }
  }
  .chevron {
    width: 100%;
    .description {
      width: 90%;
      margin-left: 0;
    }
  }
  .annonce {
    margin-left: 0;
    height: 100px;
    width: 100%;
    margin-bottom: 0;
    p {
      padding: 15px;
      width: 80%;
    }

    .chevron-cadr {
      width: 100%;
      height: 100%;
      margin-left: 0;
      //padding: 0 15px 25px 15px;
      background-color: rgba(226, 224, 222, 0.219);
      margin-top: -21px;
    }
  }
  .chevron {
    .chevron-cadre {
      width: 93%;
      p {
        font-size: 1.1em;
      }
    }
  }
  .nom {
    img {
      height: 60px;
      width: 60px;
      margin-top: -10px;
    }
  }
  .part {
    height: 150px;
    border-radius: 10px;
    p {
      font-size: 1.9em;
      margin-left: 5px;
      text-align: left;
      margin-top: 40px;
    }
  }
  .loge-img {
    i {
      font-size: 3em;
    }
    .chevron-droite {
      font-size: 3em;
    }
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .logement {
    margin: 0;
  }

  .footerstyles p {
    font-size: 0.9em;
    margin-left: 25%;
    width: 30%;
  }

  .apropos-descrition {
    padding: 0;
  }

  .annonceSecurite {
    width: 100%;
    height: 150px;
    margin-left: 0;
    margin-top: -21px;
    p {
      padding: 15px 28px;
      width: 80%;
    }
  }
}
