.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 2px;
        width: 0;
        position: absolute;
        border-radius: 10px;
        background-color: rgb(141, 136, 136);
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
          to {
           width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
  }
}
