.nom {
  display: flex;
  justify-content: end;
  .nom-conteneur {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 0;
    margin-top: -135px;
    width: 18%;
    height: 80px;
  }

  h2 {
    color: #FF6060;
    padding: 0;
  }
  
}
