.part {
  border-radius: 30px;
  margin: 36px 0;
  background: url(../../assets/images/img.png) center/cover ;
  height: 230px;
  

  p {
    margin-top: 100px;
    font-size: 3em;
    color: white;
   margin-left: 35%;
   font-weight: bold;
    position: absolute;
    
  
   
  }
}


p {
  
  font-size: 1.2em;
  color: white;
  position: absolute;
  

 
}
