.part {
  border-radius: 30px;
  margin: 36px 0;
  background: url(../../assets/images/img.png) center/cover ;
  height: 230px;
  filter: brightness(0.55) saturate(1.4) contrast(0.75);

  
  
  
  
  p {
    margin-top: 90px;
    font-size: 3em;
    color: white;
   margin-left: 35%;
   font-weight: bold;
  
    
  
   
  }
}


p {
  
  font-size: 1.2em;
  color: white;
  position: absolute;
  

 
}
