.apropos_img {
  border-radius: 20px;
  margin: 50px 0;
  background: url(../../assets/images/kalen.png) center/cover;
  filter: brightness(0.55) saturate(1.4) contrast(0.75);
  height: 250px;
  
 
}
