.loge-img {
  height: 400px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .logement-arrow {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 95%;
    padding: 0;
    cursor: pointer;
    margin-top: 110px;
  }
  i {
    font-size: 6em;
    color: white;
    transform: rotate(270deg);
  }
  .chevron-droite {
    font-size: 6em;
    color: white;
    transform: rotate(4deg);
  }
}
