.tag_groupe{
    display: flex;
    gap: 10px;

}
.tag{
    width: 10%;
    height: 20px;
    background: rgb(255,96,96);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        color: white;
        font-size: 1.5em;
       
    }
}